language: python
python:
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "pypy"

# command to install dependencies
install:
  - "pip install tmdbsimple"
  - "pip install youtube-dl"
  - "pip install nose"
  - "pip install coverage"
# command to run tests
script: nosetests
